{%  extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
<div class="alert alert-primary" role="alert">Posting</div>
{% endblock header %}

{% block content %}
<div class="container">
  <div class="alert alert-success" role="alert">
      <p>Title: {{ object.title }}</p>
      <p>Author: {{ object.author }}</p>
      <p>Content: {{ object.content }}</p>
      <p><img src="{{ object.images.url }}" width=300></p>
      <a href="{% url 'good' object.pk %}" class="btn btn-primary" role="button" aria-pressed="true">Good</a>
      <a href="{% url 'read' object.pk %}" class="btn btn-secondary" role="button" aria-pressed="true">On seen</a>
  </div>
</div>
{% endblock content %}
